<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <h4 class="center border-bottom">Add Books</h4>
    <div class="alert alert-danger" *ngIf='error'></div>
    <form #updateBooksForm='ngForm' (ngSubmit)="updateBooks(updateBooksForm)">

        <div class="form-group">
            <input type="text" name="book_id" #book_id='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the Id..">
                <div *ngIf="book_id.touched && book_id.invalid">
                    <p class="text-danger" *ngIf="book_id.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="book_name" #book_name='ngModel' ngModel class="form-control mb-3" required
              readonly  placeholder="Enter the name..">
              <div *ngIf="book_name.touched && book_name.invalid">
                <p class="text-danger" *ngIf="book_name.errors.required">
                    *this field is required
                </p>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="author1" #author1='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the author1 name...">
                <div *ngIf="author1.touched && author1.invalid">
                    <p class="text-danger" *ngIf="author1.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="author2" #author2='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the author2..">
                <div *ngIf="author2.touched && author2.invalid">
                    <p class="text-danger" *ngIf="author2.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="publisher" #publisher='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the publisher..">
                <div *ngIf="publisher.touched && publisher.invalid">
                    <p class="text-danger" *ngIf="publisher.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="yearofpublication" #yearofpublication='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the yearofpublication..">
                <div *ngIf="yearofpublication.touched && yearofpublication.invalid">
                    <p class="text-danger" *ngIf="yearofpublication.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary float-left">Submit</button>
        </div>
    </form>
</div>
