<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <h4 class="center border-bottom">Register Form</h4>
    <div class="alert alert-danger" *ngIf='error'></div>
    <form #studentRegisterForm='ngForm' (ngSubmit)="register(studentRegisterForm)" *ngIf="!isloading">

        <div class="form-group">
            <input type="text" name="userId" #userId='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the Id..">
                <div *ngIf="userId.touched && userId.invalid">
                    <p class="text-danger" *ngIf="userId.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="userName" #userName='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the name..">
                <div *ngIf="userName.touched && userName.invalid">
                    <p class="text-danger" *ngIf="userName.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="email" name="emailId" #emailId='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the email..">
                <div *ngIf="emailId.touched && emailId.invalid">
                    <p class="text-danger" *ngIf="emailId.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="password" name="password" #password='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the password...">
                <div *ngIf="password.touched && password.invalid">
                    <p class="text-danger" *ngIf="password.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="type" #type='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the type..">
                <div *ngIf="type.touched && type.invalid">
                    <p class="text-danger" *ngIf="type.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary float-left">Submit</button>
        </div>
    </form>
</div>