<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <div class="form-group container">
        <h4 class="center border-bottom">Login Form</h4>
        <div class="alert alert-danger" *ngIf='error'></div>
        <form #loginForm='ngForm' (ngSubmit)="login(loginForm)" *ngIf="!isloading">
            <div class="form-group">
                <input type="text" name="userId" #userId='ngModel' ngModel class="form-control mb-3" required
                    placeholder="Enter the Id..">
                <div *ngIf="userId.touched && userId.invalid">
                    <p class="text-danger" *ngIf="userId.errors.required">
                        *this field is required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="password" #password='ngModel' ngModel class="form-control mb-3" required
                    placeholder="Enter the password...">
                    <div *ngIf="password.touched && password.invalid">
                        <p class="text-danger" *ngIf="password.errors.required">
                            *this field is required
                        </p>
                    </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary float-left">Submit</button>
            </div>
        </form>
    </div>
</div>