<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <h4 class="center border-bottom">Request Book</h4>
    <div class="alert alert-danger" *ngIf='error'></div>
    <form #requestBookForm='ngForm' (ngSubmit)="requestBook(requestBookForm)" *ngIf="!isloading">

        <div class="form-group">
            <input type="text" name="book_id" #book_id='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the Id..">
        </div>

        <div class="form-group">
            <input type="text" name="user_id" #user_id='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the user id..">
        </div>

        <div class="form-group">
            <input type="date" name="registration_date" #registration_date='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the registration date..">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary float-left">Submit</button>
        </div>
    </form>
</div>
